
body {
    background-color: rgb(41, 39, 39);
  }
  header {
    margin-top: 100px;
  }
  
  /* Main menu */
  .main-menu {
    margin: 0;
    padding: 0;
  }
  .main-menu ul li {
    list-style: none;
    border-right: 1px solid rgb(43, 37, 37);
  }
  .main-menu > ul  {
    display: flex;
    justify-content: center;
  }
  .main-menu > ul li a {
    display: block;
    background: #4c5057;
    padding: 15px 38px 15px 40px;
    font-size: 14px;
    color: #ffff;
    text-decoration: none;
    text-transform: uppercase;
  }
  .main-menu > ul li:first-child {
    border-left: 1px solid #ffff;
  }
  .main-menu > ul li:last-child {
    border-right: 1px solid #ffff;
  }
  .main-menu li a:hover {
    background: rgb(208, 140, 140);
    box-shadow: 1px 5px 10px -5px black;
  }
  
  /* Sub menu */
  .main-menu li ul {
    position: absolute;
    min-width: 150px;
    padding: 0;
    display: none;
  }
  .main-menu li > ul li {
    border: 1px solid #c7c8ca;
  }
  
  .main-menu li:hover > ul {
    display: block;
  }
  
  /* Catalog item */
  

  .wrapper{
    width: 1320px;
    text-align: center;
    margin: 0 auto;
  
  }


  .item{
    width: 250px;
    min-height: 340px;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(114, 114, 114) 100%);
    padding: 40px 15px 15px 15px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    margin: 10px 25px;
  }
  .item img{
    margin-bottom: 10px;
  }

  .item-title a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #05441b;
  }
  .item-description p{
    margin: 5px 0;
    text-align: justify;
    color: #36383d;
  }
  .item-price span{
    color: #ffffffb0;
    text-transform: uppercase;
  }
  .item-price p{
    color: #15fd15;
    font-size: larger;
    text-transform: uppercase;
  }

  
  /* Responsive */
@media(min-width:970px) and (max-width: 1320px){
  .wrapper{
    width: 800px;
  }
  .item {
    width: 220px;
     margin: 10px 8px;
}
}
@media(min-width: 661px) and (max-width: 969px){
  .wrapper{
    width: 660px;
  }
  .item {
    width: 200px;
    margin: 10px 8px;
  }
  .item img{
    width: 190px;
  }

}



















  /* Product-page */
  .contrainer {
    margin: 2em 10em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
  }
  .cat-product h1 {
    color: #c7c8ca;
    text-align: center;
    text-transform: uppercase;
  }
 